!!!
%html
  %head
    %title
      Sample presentation
    %meta{ :charset => 'utf-8' }
    %link{ :type => 'text/css', :href => 'style/style.css', :rel => 'stylesheet' }
    %script{ :type => 'javascript', :src => 'script.js' }
  %body
    %article
      %h1 First 
    %article
      %h1 Second 
    %article
      %h1 Third 
    %article
      %h1 Fourth
