!!!
%html
  %head
    %title
      Sample presentation
    %meta{ :charset => 'utf-8' }
    %link{ :type => 'text/css', :href => 'style/style.css', :rel => 'stylesheet' }
    %script{ :type => 'text/javascript', :src => 'script/jquery.min.js' }
    %script{ :type => 'text/javascript', :src => 'script/script.js' }
  %body
    %article
      %h1 Leanshow
      .notes
        sample 
        %strong notes
        %ul
          %li sample list
          %li sample list

    %article
      %h1 is
    %article
      %h1 a simple and easy to use
    %article
      %h1 html5 presentatnion
    %article
      %h1 template
    %article
      %h1 with presenter view
      %h4 (ctrl+alt+p)

      .notes You can easily add notes to your slides

    %article
      %h2 fork it on
      %h4 
        %a{:href => 'http://github.com/rubytree/leanshow', :title => 'go to leanshow code'}
          github.com


