!!!
%html
  %head
    %title
      Sample presentation
    %meta{ :charset => 'utf-8' }
    %link{ :type => 'text/css', :href => 'style/style.css', :rel => 'stylesheet' }
    %script{ :type => 'text/javascript', :src => 'script.js' }
  %body
    %article
      %h1 slide 1 
      .notes
        sample 
        %strong notes
        %ul
          %li sample list
          %li sample list

    %article
      %h1 slide 2
    %article
      %h1 slide 3 
      .notes
        sample 
        %strong notes
        %ul
          %li sample list
          %li sample list
    %article
      %h1 slide 4

